/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
body{
	background-color: #D4A76A;
	margin: 0px;
	color: white;
	font-family: Verdana, Arial, sans-serif, serif;
	display: inline-block;
}
a{
	color:white;
	text-decoration:none;
}
hr{
	height: 1px;
	margin: 0px;
}
headertitle{
	color: #553100;
	display: inline-block;
	padding: 20px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 32px;
}
navbar{
	/*margin:auto;*/
	margin-right: 24px;
	margin-top: 26px 24px 0px 0px;
	float: right;
}
navbutton{
	background-color: #805215;
	border: 1px black solid;
	padding: 12px;
	margin: 14px;
	display: inline-block;
	font-weight: bold;
	text-transform: uppercase;
}
infobox{
	background-color: white;
	width: 240px;
	min-width: 240px;
	padding:24px;
	margin: 24px 32px 12px 32px;
	border: 1px black solid;
	display: inline-block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
infoTitle{
	color:black;
	margin: auto;
	/*border: 1px black solid;*/
	display: block;
	font-weight: bold;
	font-size: 24px;
	padding-bottom: 16px;
}
infoBody{
	margin: auto;
	display:inline;
	/*border: 1px black solid;*/
	display: block;
	text-align: left;
	padding-bottom: 16px;
	color:black;
}
infoButton{
	background-color: #805215;
	border: 1px black solid;
	padding: 12px;
	font-weight: bold;
	display:block;
}
#siteHeader{
	background-color: #FFDBAA;
	margin: auto;
	position: relative;
	width: 100%;
	display: inline-block;
}
#siteContent{
}